@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1>Lista Studenti Istituto Superiore Cacioppo</h1>
    <div id="studentsTable"></div>
</div>

@section Scripts{
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            let studentsTable = document.getElementById('studentsTable')

            if(studentsTable){
                fetch("students/get-all", {
                    method: "GET"
                })
                .then(response => {
                    if(response.ok){
                        return response.text();
                    }
                })
                .then(response => studentsTable.innerHTML = response)
            }
        });
    </script>
}
